*.txt
*.html
*.xml
*.mf
*.properties
*/nbproject/*
nbproject/*
build/*
SOLUTIONS/*
/Lesson-08/Activities/ChallengeActivity1-LegalDrinkingAge/nbproject/private/
/Lesson-08/Activities/ChallengeActivity1-LegalDrinkingAge/build/
/Lesson-08/Activities/ChallengeActivity2-PlayingCardsComparison/nbproject/private/
/Lesson-08/Activities/ChallengeActivity2-PlayingCardsComparison/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity2-PlayingCardsComparison/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity1-LegalDrinkingAge/nbproject/private/
/Lesson-08/Activities/ChallengeActivity2-PlayingCardsComparison/dist/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity2-PlayingCardsComparison/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity3-DungeonHackMonsterTurn/nbproject/private/
/Lesson-08/Activities/ChallengeActivity3-DungeonHackMonsterTurn/nbproject/private/
/Lesson-08/Activities/ChallengeActivity3-DungeonHackMonsterTurn/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity3-DungeonHackMonsterTurn/build/
/Lesson-08/Activities/DebugThis-DungeonHackCriticalHit/nbproject/private/
/Lesson-08/Activities/DebugThis-DungeonHackCriticalHit/build/
/Lesson-08/SOLUTIONS/Solution-DebugThis-DungeonHackCriticalHit/nbproject/private/
/Lesson-09/Activities/ChallengeActivity1-LetterGrade/nbproject/private/
/Lesson-09/Activities/ChallengeActivity1-LetterGrade/build/
/Lesson-09/Activities/ChallengeActivity2-LetterGradeEnums/nbproject/private/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity1-LetterGrade/nbproject/private/
/Lesson-09/Examples/Enumerations/nbproject/private/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity2-LetterGradeEnums/nbproject/private/
/Lesson-09/Activities/ChallengeActivity2-LetterGradeEnums/build/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity3-ATM/nbproject/private/
/Lesson-09/Activities/ChallengeActivity3-ATM/nbproject/private/
/Lesson-09/Examples/SwitchStatementAndIfElseLadder/nbproject/private/
/Lesson-09/Activities/ChallengeActivity3-ATM/build/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity3-ATM/build/
/Lesson-09/Activities/DebugThis-SalesTaxCalculations/nbproject/private/
/Lesson-09/SOLUTIONS/Solution-DebugThis-SalesTaxCalculations/nbproject/private/
/Lesson-09/Activities/DebugThis-SalesTaxCalculations/build/
/Lesson-10/Activities/ChallengeActivity1-CountingWithFor/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity1-CountingWithFor/nbproject/private/
/Lesson-10/Activities/ChallengeActivity1-CountingWithFor/build/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity1-CountingWithFor/build/
/Lesson-10/Activities/ChallengeActivity2-PrintBarChart/nbproject/private/
/Lesson-10/Activities/ChallengeActivity2-PrintBarChart/build/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity2-PrintBarChart/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity2-PrintBarChart/build/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity3-RPGAbilityScores/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity3-RPGAbilityScores/build/
/Lesson-10/Activities/ChallengeActivity3-RPGAbilityScores/nbproject/private/
/Lesson-10/Activities/ChallengeActivity3-RPGAbilityScores/build/
/Lesson-10/Activities/DebugThis-MultiplicationTable/nbproject/private/
/Lesson-10/Activities/DebugThis-MultiplicationTable/build/
/Lesson-10/SOLUTIONS/Solution-DebugThis-MultiplicationTable/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-DebugThis-MultiplicationTable/build/
/Lesson-11/Activities/ChallengeActivity1-ATMPin/nbproject/private/
/Lesson-11/Activities/ChallengeActivity1-ATMPin/build/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity1-ATMPin/nbproject/private/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity1-ATMPin/build/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity2-QuizAverageDropLowest/nbproject/private/
/Lesson-11/Activities/ChallengeActivity2-QuizAverageDropLowest/nbproject/private/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity2-QuizAverageDropLowest/build/
/Lesson-11/Activities/ChallengeActivity2-QuizAverageDropLowest/build/
/Lesson-11/Activities/ChallengeActivity3-DungeonHackCombat/nbproject/private/
/Lesson-11/Activities/ChallengeActivity3-DungeonHackCombat/build/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity3-DungeonHackCombat/nbproject/private/
/Lesson-11/Activities/DebugThis-QuizAverage/nbproject/private/
/Lesson-11/SOLUTIONS/Solution-DebugThis-QuizAverage/nbproject/private/
/Lesson-11/Activities/DebugThis-QuizAverage/build/
/Lesson-12/Activities/ChallengeActivity1-MinAndMax/nbproject/private/
/Lesson-12/Activities/ChallengeActivity1-MinAndMax/build/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity1-MinAndMax/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity1-MinAndMax/build/
/Lesson-12/Activities/ChallengeActivity2-ASCIIBarChartv2/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity2-ASCIIBarChartv2/nbproject/private/
/Lesson-12/Activities/ChallengeActivity2-ASCIIBarChartv2/build/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity2-ASCIIBarChartv2/build/
/Lesson-12/Activities/ChallengeActivity3-English2Yoda/nbproject/private/
/Lesson-12/Activities/ChallengeActivity3-English2Yoda/build/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity3-English2Yoda/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity3-English2Yoda/build/
/Lesson-12/Activities/DebugThis-TestScores/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-DebugThis-TestScores/nbproject/private/
/Lesson-12/Activities/DebugThis-TestScores/build/
/Lesson-12/SOLUTIONS/Solution-DebugThis-TestScores/build/