*.txt
*.html
*.xml
*.mf
*.properties
*/nbproject/*
nbproject/*
build/*
SOLUTIONS/*
/Lesson-08/Activities/ChallengeActivity1-LegalDrinkingAge/nbproject/private/
/Lesson-08/Activities/ChallengeActivity1-LegalDrinkingAge/build/
/Lesson-08/Activities/ChallengeActivity2-PlayingCardsComparison/nbproject/private/
/Lesson-08/Activities/ChallengeActivity2-PlayingCardsComparison/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity2-PlayingCardsComparison/nbproject/private/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity1-LegalDrinkingAge/nbproject/private/
/Lesson-08/Activities/ChallengeActivity2-PlayingCardsComparison/dist/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity2-PlayingCardsComparison/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity3-DungeonHackMonsterTurn/nbproject/private/
/Lesson-08/Activities/ChallengeActivity3-DungeonHackMonsterTurn/nbproject/private/
/Lesson-08/Activities/ChallengeActivity3-DungeonHackMonsterTurn/build/
/Lesson-08/SOLUTIONS/Solution-ChallengeActivity3-DungeonHackMonsterTurn/build/
/Lesson-08/Activities/DebugThis-DungeonHackCriticalHit/nbproject/private/
/Lesson-08/Activities/DebugThis-DungeonHackCriticalHit/build/
/Lesson-08/SOLUTIONS/Solution-DebugThis-DungeonHackCriticalHit/nbproject/private/
/Lesson-09/Activities/ChallengeActivity1-LetterGrade/nbproject/private/
/Lesson-09/Activities/ChallengeActivity1-LetterGrade/build/
/Lesson-09/Activities/ChallengeActivity2-LetterGradeEnums/nbproject/private/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity1-LetterGrade/nbproject/private/
/Lesson-09/Examples/Enumerations/nbproject/private/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity2-LetterGradeEnums/nbproject/private/
/Lesson-09/Activities/ChallengeActivity2-LetterGradeEnums/build/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity3-ATM/nbproject/private/
/Lesson-09/Activities/ChallengeActivity3-ATM/nbproject/private/
/Lesson-09/Examples/SwitchStatementAndIfElseLadder/nbproject/private/
/Lesson-09/Activities/ChallengeActivity3-ATM/build/
/Lesson-09/SOLUTIONS/Solution-ChallengeActivity3-ATM/build/
/Lesson-09/Activities/DebugThis-SalesTaxCalculations/nbproject/private/
/Lesson-09/SOLUTIONS/Solution-DebugThis-SalesTaxCalculations/nbproject/private/
/Lesson-09/Activities/DebugThis-SalesTaxCalculations/build/
/Lesson-10/Activities/ChallengeActivity1-CountingWithFor/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity1-CountingWithFor/nbproject/private/
/Lesson-10/Activities/ChallengeActivity1-CountingWithFor/build/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity1-CountingWithFor/build/
/Lesson-10/Activities/ChallengeActivity2-PrintBarChart/nbproject/private/
/Lesson-10/Activities/ChallengeActivity2-PrintBarChart/build/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity2-PrintBarChart/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity2-PrintBarChart/build/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity3-RPGAbilityScores/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-ChallengeActivity3-RPGAbilityScores/build/
/Lesson-10/Activities/ChallengeActivity3-RPGAbilityScores/nbproject/private/
/Lesson-10/Activities/ChallengeActivity3-RPGAbilityScores/build/
/Lesson-10/Activities/DebugThis-MultiplicationTable/nbproject/private/
/Lesson-10/Activities/DebugThis-MultiplicationTable/build/
/Lesson-10/SOLUTIONS/Solution-DebugThis-MultiplicationTable/nbproject/private/
/Lesson-10/SOLUTIONS/Solution-DebugThis-MultiplicationTable/build/
/Lesson-11/Activities/ChallengeActivity1-ATMPin/nbproject/private/
/Lesson-11/Activities/ChallengeActivity1-ATMPin/build/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity1-ATMPin/nbproject/private/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity1-ATMPin/build/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity2-QuizAverageDropLowest/nbproject/private/
/Lesson-11/Activities/ChallengeActivity2-QuizAverageDropLowest/nbproject/private/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity2-QuizAverageDropLowest/build/
/Lesson-11/Activities/ChallengeActivity2-QuizAverageDropLowest/build/
/Lesson-11/Activities/ChallengeActivity3-DungeonHackCombat/nbproject/private/
/Lesson-11/Activities/ChallengeActivity3-DungeonHackCombat/build/
/Lesson-11/SOLUTIONS/Solution-ChallengeActivity3-DungeonHackCombat/nbproject/private/
/Lesson-11/Activities/DebugThis-QuizAverage/nbproject/private/
/Lesson-11/SOLUTIONS/Solution-DebugThis-QuizAverage/nbproject/private/
/Lesson-11/Activities/DebugThis-QuizAverage/build/
/Lesson-12/Activities/ChallengeActivity1-MinAndMax/nbproject/private/
/Lesson-12/Activities/ChallengeActivity1-MinAndMax/build/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity1-MinAndMax/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity1-MinAndMax/build/
/Lesson-12/Activities/ChallengeActivity2-ASCIIBarChartv2/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity2-ASCIIBarChartv2/nbproject/private/
/Lesson-12/Activities/ChallengeActivity2-ASCIIBarChartv2/build/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity2-ASCIIBarChartv2/build/
/Lesson-12/Activities/ChallengeActivity3-English2Yoda/nbproject/private/
/Lesson-12/Activities/ChallengeActivity3-English2Yoda/build/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity3-English2Yoda/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-ChallengeActivity3-English2Yoda/build/
/Lesson-12/Activities/DebugThis-TestScores/nbproject/private/
/Lesson-12/SOLUTIONS/Solution-DebugThis-TestScores/nbproject/private/
/Lesson-12/Activities/DebugThis-TestScores/build/
/Lesson-12/SOLUTIONS/Solution-DebugThis-TestScores/build/
/Lesson-13/Activities/ChallengeActivity1-TicTacToeBoardWinner/nbproject/private/
/Lesson-13/Activities/ChallengeActivity1-TicTacToeBoardWinner/build/
/Lesson-13/SOLUTIONS/Solution-ChallengeActivity1-TicTacToeBoardWinner/nbproject/private/
/Lesson-13/SOLUTIONS/Solution-ChallengeActivity1-TicTacToeBoardWinner/build/
/Lesson-13/SOLUTIONS/Solution-ChallengeActivity2-TicTacToeFullGame/nbproject/private/
/Lesson-13/SOLUTIONS/Solution-ChallengeActivity2-TicTacToeFullGame/build/
/Lesson-13/Activities/ChallengeActivity2-TicTacToeFullGame/nbproject/private/
/Lesson-13/Activities/ChallengeActivity2-TicTacToeFullGame/build/
/Lesson-13/Activities/DebugThis-DrawTicTacToeBoard/nbproject/private/
/Lesson-13/Activities/DebugThis-DrawTicTacToeBoard/build/
/Lesson-14/Activities/ChallengeActivity1-ArrayListOfStudents/nbproject/private/
/Lesson-14/Activities/ChallengeActivity1-ArrayListOfStudents/build/
/Lesson-14/Examples/ArrayListExample/nbproject/private/
/Lesson-14/SOLUTIONS/Solution-ChallengeActivity1-ArrayListOfStudents/nbproject/private/
/Lesson-14/Activities/ChallengeActivity2-DeckOfPlayingCards/nbproject/private/
/Lesson-14/Activities/ChallengeActivity2-DeckOfPlayingCards/build/
/Lesson-14/SOLUTIONS/Solution-ChallengeActivity3-PlayingCardsHand/nbproject/private/
/Lesson-14/Activities/ChallengeActivity3-PlayingCardsHand/nbproject/private/
/Lesson-14/Activities/ChallengeActivity3-PlayingCardsHand/build/
/Lesson-14/SOLUTIONS/Solution-ChallengeActivity3-PlayingCardsHand/build/
/Lesson-14/Activities/DebugThis-PlayingCardsCountTheAces/nbproject/private/
/Lesson-14/Examples/ArrayListExampleAddRemoveSwap/nbproject/private/
/Lesson-14/SOLUTIONS/Solution-DebugThis-PlayingCardsCountTheAces/nbproject/private/
/Lesson-14/Activities/DebugThis-PlayingCardsCountTheAces/build/
/Lesson-14/SOLUTIONS/Solution-DebugThis-PlayingCardsCountTheAces/build/
/Lesson-15/Activities/ChallengeActivity1-UndestandingComparators/nbproject/private/
/Lesson-15/Activities/ChallengeActivity1-UndestandingComparators/build/
/Lesson-15/Examples/SortingSearchingStudentsUsingComparator/nbproject/private/
/Lesson-15/Activities/ChallengeActivity2-FindCard/nbproject/private/
/Lesson-15/Activities/ChallengeActivity2-FindCard/build/
/Lesson-15/SOLUTIONS/Solution-ChallengeActivity2-FindCard/nbproject/private/
/Lesson-15/Activities/ChallengeActivity3-SortingHands/nbproject/private/
/Lesson-15/Activities/DebugThis-ImplementingCardComparator/nbproject/private/
/Lesson-15/Activities/ChallengeActivity3-SortingHands/build/
/Lesson-15/SOLUTIONS/Solution-ChallengeActivity3-SortingHands/nbproject/private/
/Lesson-15/Activities/DebugThis-ImplementingCardComparator/build/
/Lesson-16/Activities/ChallengeActivity1-HourlyWage/nbproject/private/
/Lesson-16/Examples/ExampleTryCatchFinally/nbproject/private/
/Lesson-16/Activities/ChallengeActivity1-HourlyWage/build/
/Lesson-16/SOLUTIONS/Solution-ChallengeActivity1-HourlyWage/nbproject/private/
/Lesson-16/Activities/ChallengeActivity2-CardExceptions/nbproject/private/
/Lesson-16/Examples/ExceptionBasics/nbproject/private/
/Lesson-16/SOLUTIONS/Solution-ChallengeActivity2-CardExceptions/nbproject/private/
/Lesson-16/SOLUTIONS/Solution-ChallengeActivity2-CardExceptions/build/
/Lesson-16/Activities/ChallengeActivity2-CardExceptions/build/
/Lesson-16/SOLUTIONS/Solution-ChallengeActivity3-TicTacToeFullGameSanitizedInput/nbproject/private/
/Lesson-16/Activities/ChallengeActivity3-TicTacToeFullGameSanitizedInput/nbproject/private/
/Lesson-16/Activities/ChallengeActivity3-TicTacToeFullGameSanitizedInput/build/
/Lesson-16/Activities/DebugThis-InputUntilValid/nbproject/private/
/Lesson-16/Activities/DebugThis-InputUntilValid/build/
/Lesson-17/Activities/ChallengeActivity1-ThePassword/nbproject/private/
/Lesson-17/Activities/ChallengeActivity1-ThePassword/build/
/Lesson-17/SOLUTIONS/Solution-ChallengeActivity1-ThePassword/nbproject/private/
/Lesson-17/SOLUTIONS/Solution-ChallengeActivity1-ThePassword/build/
/Lesson-17/Activities/ChallengeActivity2-GradeProcessing/nbproject/private/
/Lesson-17/Activities/ChallengeActivity2-GradeProcessing/build/
/Lesson-17/SOLUTIONS/Solution-ChallengeActivity2-GradeProcessing/nbproject/private/
/Lesson-17/Activities/ChallengeActivity3-StudentFileIO/nbproject/private/
/Lesson-17/Activities/ChallengeActivity3-StudentFileIO/build/
/Lesson-17/SOLUTIONS/Solution-ChallengeActivity3-StudentFileIO/nbproject/private/
/Lesson-17/SOLUTIONS/Solution-DebugThis-WordCount/nbproject/private/
/Lesson-17/Activities/DebugThis-WordCount/nbproject/private/
/Lesson-17/Activities/DebugThis-WordCount/build/
/Lesson-18/Activities/ChallengeActivity1-HelloSwing/nbproject/private/
/Lesson-18/Activities/ChallengeActivity1-HelloSwing/build/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity1-HelloSwing/nbproject/private/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity1-HelloSwing/build/
/Lesson-18/Activities/ChallengeActivity2-TemperatureConversion/nbproject/private/
/Lesson-18/Activities/ChallengeActivity2-TemperatureConversion/build/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity2-TemperatureConversion/nbproject/private/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity2-TemperatureConversion/build/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity3-MathFlashCard/nbproject/private/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity3-MathFlashCard/build/
/Lesson-18/SOLUTIONS/Solution-DebugThis-EZTipCalcGUI/nbproject/private/
/Lesson-18/Activities/DebugThis-EZTipCalcGUI/nbproject/private/
/Lesson-18/Activities/DebugThis-EZTipCalcGUI/build/
/Lesson-18/Activities/ChallengeActivity3-MathFlashCard/nbproject/private/
/Lesson-18/Activities/ChallengeActivity3-MathFlashCard/build/
/Lesson-18/Activities/ChallengeActivity4-StudentGui/nbproject/private/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity4-StudentGui/nbproject/private/
/Lesson-18/SOLUTIONS/Solution-ChallengeActivity4-StudentGui/build/
/Lesson-18/Activities/ChallengeActivity4-StudentGui/build/
/Lesson-15/Examples/BasicSortingSearchingDemo/nbproject/private/
/Lesson-20/Examples/EarthquakeFeedSample/build/
/Lesson-20/Activities/ChallengeActivity1-ChuckNorrisFactGUI/nbproject/private/
/Lesson-20/Activities/ChallengeActivity1-ChuckNorrisFactGUI/build/
/Lesson-19/Activities/ChallengeActivity1-ProductCatalogDemo/nbproject/private/
/Lesson-19/Activities/ChallengeActivity1-ProductCatalogDemo/build/
/Lesson-19/Activities/ChallengeActivity2-StudentGradeStrategy/nbproject/private/
/Lesson-19/SOLUTIONS/Solution-ChallengeActivity1-ProductCatalogDemo/nbproject/private/
/Lesson-19/SOLUTIONS/Solution-ChallengeActivity1-ProductCatalogDemo/build/
/Lesson-19/SOLUTIONS/Solution-ChallengeActivity2-StudentGradeStrategy/nbproject/private/
/Lesson-19/SOLUTIONS/Solution-ChallengeActivity2-StudentGradeStrategy/build/
/Lesson-19/Activities/ChallengeActivity2-StudentGradeStrategy/build/
/Lesson-19/Activities/DebugThis-SubclassMania/nbproject/private/
/Lesson-19/Activities/DebugThis-SubclassMania/build/
/Lesson-19/SOLUTIONS/Solution-DebugThis-SubclassMania/nbproject/private/
/Lesson-20/SOLUTIONS/Solution-ChallengeActivity1-ChuckNorrisFactGUI/nbproject/private/