*.txt
*.html
*.xml
*.mf
*.properties
*/nbproject/*
nbproject/*
build/*
SOLUTIONS/*
/Lesson-08/Activities/ChallengeActivity1-LegalDrinkingAge/nbproject/private/
/Lesson-08/Activities/ChallengeActivity1-LegalDrinkingAge/build/